@charset "utf-8";

/* header */
.main_title {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.main_subtitle {
	margin-bottom: 2rem;
}
.main_subtitle > span:first-child {
	padding-right: 0.5rem;
}
.main_subtitle > span:last-child {
	font-size: 0.95rem;
	font-weight: 300;
	display: block;
	padding: 0.5rem 0 0.2rem;
	text-indent: 1.85em;
}

/* contents */
.main_wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* contents - input */
.input_label {
	display: block;
	margin-bottom: 0.5rem;
}
.org_input_con {
	max-height: 0px;
	height: 0px;
	width: 100%;
	overflow: hidden;
	transition: 2s;
}
.org_input_con.org_view {
	max-height: 100%;
	height: auto;
	overflow: visible;
}
.tel_prefix_input {
	margin: 0 !important;
	padding: 0 !important;
	min-width: 6.5em;
}
.tel_prefix_input .ant-form-item-control-input {
	min-height: 1px !important;
}

/* button */
.submit_btn {
	width: 100%;
	padding: 0.5rem 1rem;
	background: #32c7e6;
	margin: 2em auto;
}

/* code block */
.code_block_wrap {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 0.2rem;
	overflow: hidden;
}
.code_block_con {
	width: 100%;
	height: 100%;
}

.code_block_con pre {
	border-radius: 0.2rem;
	width: 100%;
	height: 100%;
	padding: 1.8em 1.5em;
	display: block;
	min-height: 20em;
	overflow: scroll;
}

/* scroll */
.scroll_wrap {
	overflow: scroll;
}

/* loading */
.loading_wrap {
	text-align: center;
	background-color: #0000008f;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	font-size: 3rem;
	display: flex;
	position: fixed;
	inset: 0;
	color: #32c7e6;
	z-index: 9999;
}

/* ai suggestion page */

.ai_page_wrap {
	width: 100%;
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
}
